@model List<CoreAndFood.Data.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
  <p>
       Category Name : @Html.TextBox("p")
   <input type="submit" value="Search" class="btn btn-info mb-2" />
  </p>
}
<div class="container">
    <table class="table">
        <caption>List of Category</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Category Name</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td><button class="btn-success btn"><a style="color:#FFF" href="/Category/CategoryGet/@item.Id">Update</a></button></td>
                    <td><button class="btn-danger btn"><a style="color:#FFF" href="/Category/CategoryDelete/@item.Id">Delete</a></button></td>
                </tr>
            }

        </tbody>
    </table>
    <a style="color:#FFF" class="btn-info btn" href="/Category/CategoryAdd">New Category</a>
</div>
